


#time-wrapper {
  height: 200px;
}

#time {
  padding: 10px;
  align-content: center;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
}

#tips-wrapper {
  height: 450px;
}

#tips-wrapper h2 {
  padding: 0px 10px;
}

#tips-wrapper p {
  padding: 10px;
  line-height: 1.6rem;
}

#like-wrapper {
  height: 200px;
}

#like {
  align-content: center;
  text-align: center;
  line-height: 200px;
  font-weight: bold;
  font-size: 2rem;
}

