

<div id="time-wrapper">
  <div id="time">
    xx:xx
  </div>
</div>

<div id="tips-wrapper">
  <h2>TIPS</h2>
  <p> 내가 산으로 올라가지 않는 이유는 (고양이) 니체가 있어서이기도 하고 (철학자) 니체가 남겨놓은 말 덕분이기도 하다. 그는 이미 세상에 없지만 사람들에게 삶을 긍정하라고 조언했다. 니체 같은 고양이들의 생존전략은 나름 훌륭했다. 예쁜 외모와 귀여운 행동으로 일부의 인간들을 혹하게 만들어 헌신하게 만들었으니. 스스로 노예와 집사의 길을 선택한 ‘닝겐’들을 보면 글쎄. 그래도 인간 중 일부는 괜찮은지도. 그렇게 하루하루 희망을 만들어본다. 내일 지구가 망하더라도 오늘 우리 옆에는 고양이가 있다. <br>
    <br>
    원문보기:
    http://www.hani.co.kr/arti/animalpeople/companion_animal/859581.html#csidxb53b114bcc6de5ea9157ee657a41d89
  </p>
</div>

<div id="like-wrapper">
  <div id="like">
    ❤️ 2,222 likes
  </div>
</div>
